/* Encabezado de la web */
#header {
    background-color: gray;
    border-radius: 5px;
    padding: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  }
  
  .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .button_user{
    border: #2471A3 3px solid;
    border-radius: 20px;
    padding: 2px;
    margin-right: 5px;

    position: absolute; /* Posicion alineada con el menu */
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  .button_user:hover{
    border: #3498DB 3px solid;
    cursor: pointer;
  }

  .content_web {
    padding-top: 80px; /* Ajusta el padding superior para que el contenido no quede oculto detrás del header */
  }
  
  /* Menu de navegacion */
  .navigation {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin: 0;
  }
  
  .item {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    border-bottom: #2471A3 5px solid;
    font-size: 15px;
    cursor: pointer;
    margin: 0px 7px;
    padding: 7px;
    border-radius: 5px;
  }
  
  li:hover{
    color: white;
    background: #3498DB;
    border-bottom: #3498DB;
  }