/* Configuraciones Generales */
*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Cuerpo de la web */
body{
  background-color: #1e1e1e;
  color: white;
}

/* Encabezado de la web */
header{
  height: 5rem;
}

/* Menu de navegacion */
.navigation {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  gap: 40px;
}

.item {
  list-style: none;
  text-transform: uppercase;
  border-bottom: grey 5px solid;
  font-size: 15px;
  cursor: pointer;
  margin: 0px 7px;
  padding: 7px;
  border-radius: 5px;
}

li:hover{
  background: grey;
}

/* Modo oscuro */
.modo_osc{
  text-align: right;
  flex: 1;
}

#toggle{
  display: none;
}

#label_toggle{
  cursor: pointer;
}

.dark_mode{
  color: black;
  background-color: #f8f8f8;
}

/* Contenedor principal de la web */
.conteiner{
  display: grid;
  min-height: 100vh;
}

/* Caja principal */
.box_principal{
  /* border: pink 5px dashed; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Titulo principal */
.titulo_principal{
  /* border: blue 5px dashed; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  line-height: 3rem;
}

/* Titulo parte de arriba principal */
.title_up{
  text-align: center;
  font-size: 20px;
}

/* Titulo parte de en medio principal */
.title_mid{
  text-align: center;
  font-weight:bold;
  font-size: 60px;
}

/* Titulo parte de a bajo principal */
.title_bot{
  text-align: center;
  font-size: 15px;
}

/* Animacion imagen de la flecha */
.title_bot img{
  animation: floatAnimation 3s infinite ease-in-out; /* Controla la velocidad y el tipo de animación */
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0); /* Inicia sin traslación vertical */
  }
  50% {
    transform: translateY(-8px); /* Alcanza la máxima altura */
  }
  100% {
    transform: translateY(0); /* Vuelve a la posición inicial */
  }
}

/* Vinculos de Spotify y Youtube */
.vinculos_principal{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2rem;
  font-size: 20px;
}

.vinculo_yt{
  color: #8d0303;
  text-decoration: none;
}

.vinculo_yt:hover{
  color: #d30303;
}

.vinculo_sp{
  color: green;
  text-decoration: none;
}

.vinculo_sp:hover{
  color: #03b603;
}

/* Imagen de los vinculos de Spotify y Youtube */
.imagen_vinculo{
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

/* Video Principal "Mi Motora" */
.video_principal iframe{
  margin-top: 1rem;
  width: 400px;
  height: 200px;
}

/* Caja linea del tiempo */
.box_timeline{
  /* border: green 5px dashed; */
  display: flex;
  justify-content: center;
}

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

/* Contenedor linea del tiempo */
.conteiner_timeline{
  padding: 10px 50px;
  position: relative;
  width: 50%;
  /* background: rgba(0, 0, 0, 0.3); */
  animation: movedown 1s linear forwards;
  opacity: 0;
}

/* Animacion contenedores linea del tiempo */
@keyframes movedown{
  0%{
    opacity: 1;
    transform: translateY(-30px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.conteiner_timeline:nth-child(1){
  animation-delay: 0s;
}

.conteiner_timeline:nth-child(2){
  animation-delay: 1s;
}

.conteiner_timeline:nth-child(3){
  animation-delay: 2s;
}

.conteiner_timeline:nth-child(4){
  animation-delay: 3s;
}

.conteiner_timeline:nth-child(5){
  animation-delay: 4s;
}

.conteiner_timeline:nth-child(6){
  animation-delay: 5s;
}

/* Texto linea del tiempo */
.text_timeline{
  padding: 20px 20px;
  background: #f8f8f8;
  color: #1e1e1e;
  position: relative;
  border-radius: 5px;
  font-size: 15px;
}

/* Contenedores izquierdos */
.left_conteiner_tl{
  left: 0;
}

/* Contenedores derechos */
.right_conteiner_tl{
  left: 50%;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #f8f8f8;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

/* Animacion linea del tiempo */
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

/* Titulo contenedor linea del tiempo */
.text_timeline h2{
  font-weight: 600;
}

/* Texto interior linea del tiempo */
.text_timeline span{
  display: inline-block;
  margin-bottom: 15px;
}

/* Flechas de contenedores linea del tiempo */
.left_conteiner_tl_arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid grey;
  right: -15px;
}

.right_conteiner_tl_arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid grey;
  left: -15px;
}

/* Responsive linea del tiempo */
@media screen and (max-width: 600px){
  .timeline{
    margin: 50px auto;
  }
  
  .timeline::after{
    left: 31px;
  }

  .conteiner_timeline{
    width: 100%;
    padding-left: 80px;
    padding-right: 25px;
  }

  .text_timeline{
    font-size: 13px;
  }

  .text_timeline span{
    margin-bottom: 10px;
  }

  .right_conteiner_tl{
    left: 0;
  }

  .left_conteiner_tl_arrow, .right_conteiner_tl_arrow{
    border-right: 15px solid grey;
    border-left: 0;
    left: -15px;
  }
}

/* Responsive parte principal */
/* @media only screen and (max-device-width : 360px) {

  .navigation {
    gap: 10px;
  }

  .item {
    margin: 0px 10px;
    padding: 10px;
  }

  li:hover{
    background: grey;
  }

  .titulo_box1{
    margin-top: 2rem;
    line-height: 3rem;
  }

  .title_up_box1{
    font-size: 20px;
  }
  
  .title_mid_box1{
    font-size: 50px;
  }
  
  .title_bot_box1{
    font-size: 15px;
  }

  .title_bot_box1 img{
    width: 18px;
    height: 18px;
  }

  .vinculos_box1{
    font-size: 15px;
  }

  .imagen_vinculo{
    width: 20px;
    height: 20px;
  }

  .video_box1 iframe{
    width: 300px;
    height: 150px;
  }

} */